<app-layout>
  <app-container>

    <nz-page-header nzTitle="Bike Detail" nzBackIcon></nz-page-header>

    <nz-row [nzGutter]="[32, 32]">
      <nz-col nzSpan="6">
        <app-bike-card [bike]="bike"></app-bike-card>
        <ng-container *ngIf="canRent; else: owner">
          <nz-divider nzText="Actions" nzOrientation="left"></nz-divider>
          <button nz-button nzType="primary" nzBlock (click)="createRentModal()">Rent the bike</button>
        </ng-container>
        <ng-template #owner>
          <nz-divider nzText="Actions" nzOrientation="left"></nz-divider>
          <button nz-button nzBlock>Publish for sell</button>
        </ng-template>

        <ng-container *ngIf="rentals && rentals.length !== 0">
          <nz-divider nzText="Rental list" nzOrientation="left"></nz-divider>
          <app-rental-list [rentals]="rentals" (didClickRent)="createFeedbackModal($event)"></app-rental-list>
        </ng-container>

      </nz-col>
      <nz-col nzSpan="18">

        <nz-row [nzGutter]="32">
          <nz-col nzSpan="12">
            <h1>{{bike?.label}}</h1>
            <p>{{bike?.desc}}</p>
            <b style="margin-right: 15px;">Rate :</b>
            <nz-rate [ngModel]="averageStars(average)" nzAllowHalf nzDisabled></nz-rate>
          </nz-col>
          <nz-col nzSpan="12">
            <nz-row nzType="flex" style="float: right;">
              <nz-statistic nzTitle="Number of reviews" [nzValue]="reviews" style="margin: 0 32px"></nz-statistic>
              <nz-statistic nzTitle="Number of rental" [nzValue]="feedbacks?.length" style="margin-right: 32px;"></nz-statistic>
            </nz-row>
          </nz-col>
        </nz-row>

        <nz-divider nzText="Top reviews and feedback" nzOrientation="left"></nz-divider>
        <app-feedback-list [feedbacks]="feedbacks"></app-feedback-list>
      </nz-col>
    </nz-row>
  </app-container>
</app-layout>
