<app-layout>
  <app-container>
    <nz-row [nzGutter]="[32, 32]">
      <nz-col nzSpan="6">
        <nz-avatar [nzSize]="64" nzIcon="user"></nz-avatar>
        <nz-divider></nz-divider>
        <h1>{{customer?.last_name?.toLocaleUpperCase()}} {{customer?.first_name?.toLocaleUpperCase()}}</h1>
        <p><b>Pseudo : </b>{{customer?.username}}</p>
      </nz-col>
      <nz-col nzSpan="18">

        <nz-row nzType="flex">
          <nz-statistic nzTitle="Number of bike" [nzValue]="customer?.bikes?.length"></nz-statistic>
          <nz-statistic nzTitle="Number of reviews" [nzValue]="12" style="margin: 0 32px;"></nz-statistic>
        </nz-row>

        <nz-divider nzText="Owned bike" nzOrientation="right"></nz-divider>
        <app-bike-list [bikes]="bikes" (didClickItem)="goDetailBike($event)"></app-bike-list>
        <nz-divider nzText="Last review" nzOrientation="right"></nz-divider>
        <app-feedback-list [feedbacks]="feedbacks"></app-feedback-list>
      </nz-col>
    </nz-row>
  </app-container>
</app-layout>
