<ng-container *ngIf="bike; else: loading">
  <nz-card nzHoverable [nzCover]="coverTemplate" (click)="didClick.emit(bike.id)">
    <nz-card-meta [nzTitle]="bike.label" [nzDescription]="'Lorem ipsum'"></nz-card-meta>
  </nz-card>
  <ng-template #coverTemplate>
    <img alt="bike" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fep1.pinkbike.org%2Fp5pb19584297%2Fp5pb19584297.jpg&f=1&nofb=1&ipt=a56b4b0523e960c22ae6c6905675b778e4b272de7639ecdbc3d546b5d9532fcd&ipo=images" />
  </ng-template>
</ng-container>

<ng-template #loading>

</ng-template>
