<app-layout>
  <app-container>
    <h1>Register to Eiffel Bike Corp</h1>
    <form nz-form [formGroup]="form" nzLayout="vertical" (ngSubmit)="submitForm()">
      <!-- LAST NAME INPUT -->
      <nz-form-item>
        <nz-form-label nzRequired>Last Name</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="last_name" placeholder="Your last name" />
        </nz-form-control>
      </nz-form-item>
      <!-- FIRST NAME INPUT -->
      <nz-form-item>
        <nz-form-label nzRequired>First Name</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="first_name" placeholder="Your first name" />
        </nz-form-control>
      </nz-form-item>
      <!-- USERNAME INPUT -->
      <nz-form-item>
        <nz-form-label nzRequired>Username</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="username" placeholder="Username to use for connection" />
        </nz-form-control>
      </nz-form-item>
      <!-- PASSWORD -->
      <nz-form-item>
        <nz-form-label nzRequired>Password</nz-form-label>
        <nz-form-control>
          <input nz-input type="password" formControlName="password" placeholder="Your secret password" />
        </nz-form-control>
      </nz-form-item>
      <!-- TYPE INPUT -->
      <nz-form-item>
        <nz-form-label nzFor="type" nzRequired>Type</nz-form-label>
        <nz-form-control>
          <nz-select
            id="type"
            formControlName="type"
            nzPlaceHolder="Choice type of account"
          >
            <nz-option [nzValue]="userType.STUDENT" [nzLabel]="userType.STUDENT"></nz-option>
            <nz-option [nzValue]="userType.EMPLOYEE" [nzLabel]="userType.EMPLOYEE"></nz-option>
            <nz-option [nzValue]="userType.EIFFEL_BIKE_CORP" [nzLabel]="userType.EIFFEL_BIKE_CORP"></nz-option>
            <nz-option [nzValue]="userType.EXTERNAL" [nzLabel]="userType.EXTERNAL"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <!-- REGISTER BUTTON -->
      <nz-form-item>
        <button nz-button [nzType]="'primary'" nzBlock [nzLoading]="submiting">Register</button>
      </nz-form-item>
    </form>
  </app-container>
</app-layout>
