app-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form {
  width: 400px;
  margin-top: 32px;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-button {
  width: 100%;
}
